<a href="https://colab.research.google.com/github/TifannyA/Lab3-Miner-a/blob/main/Lab_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D

In [3]:
url='https://raw.githubusercontent.com/TifannyA/Lab3-Miner-a/main/Womens%20Clothing%20E-Commerce%20Reviews.csv'
df = pd.read_csv(url)
print(df.shape)

(23486, 11)

In [ ]:

df.head()

In [5]:
#Explorando la estructura del dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23486 entries, 0 to 23485
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               23486 non-null  int64
 1   Clothing ID              23486 non-null  int64
 2   Age                      23486 non-null  int64
 3   Title                    19676 non-null  object
 4   Review Text              22641 non-null  object
 5   Rating                   23486 non-null  int64
 6   Recommended IND          23486 non-null  int64
 7   Positive Feedback Count  23486 non-null  int64
 8   Division Name            23472 non-null  object
 9   Department Name          23472 non-null  object
 10  Class Name               23472 non-null  object
dtypes: int64(6), object(5)
memory usage: 2.0+ MB

In [ ]:
grupo = df.iloc[0:2,1:10]
print(grupo.head(5))

In [ ]:
#Set de datos solamente con las siguientes columnas
datos = pd.DataFrame(df)
datos.groupby(by='Class Name').mean().round()
datos.groupby(by='Age').mean().round()
datos.groupby(by='Recommended IND').mean().round()
datos.groupby(by='Positive Feedback Count').mean().round()
datos.groupby(by='Division Name').mean().round()
datos.groupby(by='Department Name').mean().round()

In [ ]:
#Determinar los valores únicos

#datos['Rating'].unique() #5
#datos['Recommended IND'].unique() #2
datos['Positive Feedback Count'].unique()

Determine cual de las variables anteriores son categóricas 

-Division Name

-Department Name

-Class Name

Estas variables son de tipo Object, por lo que son variables categóricas

In [ ]:
#datos['Class Name'].unique()#22
datos['Customer Type'].unique()
#datos['Class'].unique()   # todas son 2 pero class tiene 3 datos
#datos['Type of Travel'].unique()
#datos['satisfaction'].unique()

In [ ]:
#Revisamos si las tablas contienen valores nulos

# filter = datos['Class Name'].isna()
# filter = datos['Age'].isna()
# filter = datos['Recommended IND'].isna()
# filter = datos['Positive Feedback Count'].isna()
#filter = datos['Division Name'].isnull()
# filter = datos['Department Name'].isna()

In [ ]:
datos.isnull().sum()

In [ ]:
datos.info()

In [ ]:
#Se modifica el nombre de cada tabla  español
datos=datos.rename(columns={'index':'indice'})
datos=datos.rename(columns={'Unnamed':'Sin nombre'})
datos=datos.rename(columns={'Clothing ID':'Identificación de ropa'})
datos=datos.rename(columns={'Title':'Titulo'})
datos=datos.rename(columns={'Review Text':'Texto de revision'})
datos=datos.rename(columns={'Rating':'Clasificacion'})
datos=datos.rename(columns={'Age':'Edad'})
datos=datos.rename(columns={'Class Name':'Nombre Clase'})
datos=datos.rename(columns={'Recommended IND':'IND Recomendado'})
datos=datos.rename(columns={'Positive Feedback Count':'Recuento de comentarios positivos'})
datos=datos.rename(columns={'Division Name':'Nombre de Division'})
datos=datos.rename(columns={'Department Name':'Nombre de Departamento'})

dfc=datos.reset_index()
dfc.reset_index(drop=True,inplace=True)
dfc

In [ ]:
#Gráfico boxplot que muestra las edades
sns.boxplot(data=datos["Edad"], orient="h")

In [ ]:
#Gráfico boxplot que muestra los IND Recomendados
sns.boxplot(data=datos["IND Recomendado"], orient="h")

In [ ]:
#Gráfico boxplot que muestra la clasificacion
sns.boxplot(data=datos["Clasificacion"], orient="h")

In [ ]:
#Gráfico boxplot que muestra los comentarios positivos
sns.boxplot(data=datos["Recuento de comentarios positivos"], orient="h")

In [ ]:
#Muestra histograma de las edades
plt.rcParams["figure.figsize"]=(25,25)
df.drop(['Age'],axis=1).hist()
plt.show()

In [ ]:
#Agrupacion del nombre de departamento
agrupacion=pd.DataFrame(df)
agrupacion.groupby(by='Department Name').mean().round()

In [ ]:
#Agrupacion del nombre de division

agrupacion=pd.DataFrame(df)
agrupacion.groupby(by='Division Name').mean().round()

In [ ]:
#Agrupacion del nombre de clase

agrupacion=pd.DataFrame(df)
agrupacion.groupby(by='Class Name').mean().round()

In [ ]:
#Convertir los datos a data frame
datos=pd.DataFrame(datos)
dfc=datos.reset_index()
dfc.reset_index(drop=True,inplace=True)
display(datos)

In [ ]:
# fig = plt.figure(figsize=(20,5))
# plt.pie(dfc['Nombre de Division'],labels=dfc['Division Name'],autopct="%0.1f %%")
# plt.show

In [ ]:
#Promedio de las edades
promedio_edad=round(df['Age'].mean())
print(f'La edad promedio es de {promedio_edad}')

La edada de los pasajeros es de 43